#amHolder{
  padding:2px;
}
am-puser{
  display:table-row;
}
am-puser>l-i:first-child{
  border:1px solid #000;
  border-left:none;
}
#amPermTable{
  table-layout:auto;
  width:auto;
  border-collapse: collapse;
}
.abPTBox {
  width:21px;
  height:16px;
  background-color:#FAA;
  border:1px solid #000;
  cursor:pointer;
}
.abPTBox.valid{
  background-color:#AFA;
}
#amPTHeader>l-i>div{
  width:21px;
  height:7em;
}
#amPTHeader>l-i>div>div{
  transform:translate(-136px, 30px) rotate(35deg);
  width:12em;
  text-align: right;
  border-bottom:1px solid #000;
}
#amPTHeader>l-i>div>div>div{
  font-size:.9em;
  transform: translateY(3px);
}
