#sbC, #sbC>l-r {
  width:100%;
  height:100%;
}
#sbSidebar{
  width:250px;
  height:100%;
}
#sbSidebar>l-c{
  height:100%;
  width:calc(100% - 4px);
  border-left:1px solid #000;
  padding:2px;
}
#sbRPList>x-out{
  display:block;
}
#sbMain,sb-folder,#sbFavs{
  display:flex;
  flex-wrap:wrap;
}
sb-folder{
  border:1px solid #000;
  padding: 2px 1px;
  margin: 2px;
}
sb-folder > x-click::after {
  content: "\f106";
  margin-right: .3em;
  font: normal normal normal 14px/1 FontAwesome;
  margin-left: .3em;
}
sb-folder.active > x-click::after {
  content: "\f107";
}
sb-clip{
  border:1px solid #000;
  margin:1px 1px;
  padding:0px 1px;
  height:1.5em;
}
sb-clip>.fa {
	border-left: 1px dotted #000;
	padding-left: 2px;
}
#sbMain:not(.search) sb-folder:not(.active)>:not(x-click){
  display:none;
}
#sbMainHolder {
  position: absolute;
  height: calc(50% - 66px);
  width: calc(100% - 251px);
  overflow: auto;
  top:calc(50% + 66px);
}
#sbSideHead {
  width:100%;
}
#sbSideHead x-click {
  width:100%;
}
#sbSideHead l-i {
  width:calc(50% - 4px);
  padding-right:4px;
  padding-bottom:2px;
  text-align: center;
}
#sbUpload, #sbCaptcha, #sbEdit, #sbFavs {
  max-height:0;
  transition: max-height ease-in 0.2s;
  overflow:hidden;
  border-top:none;
  border-bottom:none;
}
#sbSidebar>div>div.active{
  border-top:1px solid #000;
  padding:2px;
}
#sbSidebar>div>div:first-child{
  border-top:none;
}
.active#sbUpload, .active#sbCaptcha, .active#sbEdit{
  max-height:300px;
}
.active#sbFavs{
  max-height:100%;
}
#sbProgBar{
  padding-top:4px;
}
#sbProgBar>div>x-out{
  margin:0px 2px;
  color: #999;
}
#sbProgBar>div>x-out:last-child{
  float:right;
  margin-right:4px;
}
#sbEditTableA l-i:first-child{
  width: 4em;
}
#sbEdit>div:first-child{
  width:100%;
  text-align:center;
}
#sbEdit>x-click:first-of-type{
  float:right;
  display:block;
}
#sbEditTableA x-inp>input{
  width:calc(100% - 6px);
}
#sbEditTableA>l-r:first-child x-inp>input{
  width:calc(100% - 2.4em - 2px);
}
#sbEdit > x-inp:first-of-type>input{
  width:calc(100% - 2.4em)
}
#sbEdit code {
  float:right;
}
.dropLit{
  border-width: 3px;
}
#sbCaptcha>div>div{
  margin:0 auto;
}
#sbUpload .fa-times{
  float:right;
  display:block;
}
#sbUpload>div:first-child x-click:not(.fa) {
  width:98%;
}
#sbUpload>div:first-child{
  text-align: center;
}
#sbUpload>div:last-child x-inp>input{
  width:calc(100% - 60px);
}
sb-user{
  display:block;
}
sb-user>a{
  color:#000;
  margin-right:4px;
}
.sbSideWide>input{
  width:calc(100% - 8px);
}
.search sb-clip:not(.searchTarget), .search sb-folder:not(.searchTarget){
  display:none;
}
.hidden{
  display:none;
}
#sbVolC > l-r > l-i:first-child {
    width: 4em;
    text-align: center;
}