x-tabcontent{
  width:100%;
  height:100%;
  display:none;
  background:#FFF;
}
x-tabcontent.active {
  display:block;
}
x-tab{
  padding: 0px 5px;
  border-right:1px solid #000;
  margin:0px;
  margin-left:-3px;
  list-style-type: none;
}
x-tab.active{
  border-bottom:1px solid #FFF;
}
#mainHeader>l-i{
  border-bottom:1px solid #000;
  height:65px;
  position: relative;
}
#mainTabs{
  position:absolute;
  bottom:0px;
  left:0px;
  border-top:1px solid #000;
}
#mainBotname{
  font-size:200%;
}
#mainContent>l-i,#mainContent{
  height:100%;
}
x-tab.alt{
  margin-left:-4px;
}
