input,sb-clip,sb-folder,select,x-click:not([nostyle]):not(.nostyle) {
	border:1px solid rgba(40,85,180,.7);
}
#mainHeader>l-i {
	background:url(../../src/banner-darkblue.png) calc(100% - 30px) 100%;
	background-repeat:no-repeat;
	border-bottom:1px solid rgba(40,85,180,.7);
}
body,input,select,x-tabcontent {
	background: rgba(30,30,30,1);
}
body {
	color:#FFF;
	background: rgba(30,30,30,1);
}
x-tab {
	border-right:1px solid rgba(0,45,180,.7);
}
x-tab.active{
  border-bottom: 1px solid rgba(30,30,30,1);
}
sb-clip>.fa {
	border-left:1px dotted rgba(255,255,255,1);
}
#sbMain>sb-folder.active {
	background:rgba(35,35,35,1);
}
sb-folder.active {
	background:rgba(40,40,40,1);
	border-left:3px solid rgba(40,85,180,.7);
}
#mainTabs,#sbSidebar>div>div.active:not(:first-child) {
	border-top:1px solid rgba(40,85,180,.7);
}
x-prog {
	border:1px solid rgba(40,85,180,.7);
}
x-prog>span {
	background:1px rgba(40,85,180,.7);
}
.overlayProgBar>div>x-out {
	color:rgba(255,255,255,1)!important
}
sb-user>a {
	color:#FFF;
}
/* Volume Slider */
input[type=range] {
	-webkit-appearance:none;
	margin:18px 0;
	width:90%
}
input[type=range]:focus {
	outline:0
}
/* Webkit Version */
input[type=range]::-webkit-slider-runnable-track {
	width:90%;
	height:8.4px;
	cursor:pointer;
	animate:.2s;
	box-shadow:1px 1px 1px #000,0 0 1px #0d0d0d;
	background:rgba(40,85,180,.7);
	border-radius:1.3px;
	border:.2px solid #010101
}
input[type=range]::-webkit-slider-thumb {
	box-shadow:1px 1px 1px #000,0 0 1px #0d0d0d;
	border:1px solid rgba(40,85,180,.7);
	height:25px;
	width:10px;
	border-radius:3px;
	background:rgba(30,30,30,1);
	cursor:pointer
}
input[type=range]:focus::-webkit-slider-runnable-track {
	background:#367ebd
}
/* Firefox Version */
input[type=range]::-moz-range-track {
	width:90%;
	height:8.4px;
	cursor:pointer;
	animate:.2s;
	background:rgba(40,85,180,.7);
	border-radius:1.3px;
	border:.2px solid #010101
}
input[type=range]::-moz-range-thumb {

	border:1px solid rgba(40,85,180,.7);
	height:25px;
	width:10px;
	border-radius:3px;
	background:rgba(30,30,30,1);
	cursor:pointer
}
/* Internet Explorer Version */
input[type=range]::-ms-track {
	width:100%;
	height:8.4px;
	cursor:pointer;
	animate:.2s;
	background:0 0;
	border-color:transparent;
	border-width:16px 0;
	color:transparent
}
input[type=range]::-ms-fill-lower {
	background:rgba(40,85,180,.7);
	border:.2px solid rgba(40,85,180,.7);
	border-radius:2.6px;
	box-shadow:1px 1px 1px #000,0 0 1px #0d0d0d
}
input[type=range]::-ms-fill-upper {
	background:rgba(40,85,180,.7);
	border:.2px solid rgba(40,85,180,.7);
	border-radius:2.6px;
	box-shadow:1px 1px 1px #000,0 0 1px #0d0d0d
}
input[type=range]::-ms-thumb {
	box-shadow:1px 1px 1px #000,0 0 1px #0d0d0d;
	border:1px solid rgba(40,85,180,.7);
	height:25px;
	width:10px;
	border-radius:3px;
	background:rgba(30,30,30,1);
	cursor:pointer
}
input[type=range]:focus::-ms-fill-lower {
	background:#3071a9
}