tu-item{
  display:table-row;
}
#tu-list{
  height:100%;
}
tu-item > l-i {
    padding: 0px 2px;
}
#tuHeader{
  max-width:500px;
}
#tuHeader>div:first-child{
  display:flex;
  margin: 0px 2px 2px 0px;
}
#tuHeader>div:first-child>*{
  flex-grow: 1;
}
#tuMain{
  padding:2px;
  height:calc(50% - 66px);
  position:absolute;
  top:calc(50% + 66px);
  width:100%;
  overflow:auto;
}
#tuFileBox>input{
  width:233px
}
