l-c {
  display:table;
  table-layout: fixed;
  width:100%;
}
l-r {
  display:table-row;
}
l-i{
  display:table-cell;
}

x-click{
  cursor:pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
x-click:not([nostyle]):not(.nostyle){
  border:1px solid #000;
  display:inline-block;
  text-align: center;
}

x-prog{
  height:1em;
  border:1px solid #000;
  display:block;
  width:calc(100% - 4px);
  overflow:hidden;
}
x-prog>span{
  background:#222;
  height:100%;
  display:block;
  width:0%;
}

.overlayProgBar>div:first-child {
  height:0;
  margin-bottom:-2px;
}
.overlayProgBar{
	height:1.1em;
}

x-click.fa:not([nostyle]):not(.nostyle) {
  height: 1.2em;
  width: 1.2em;
  padding: .1em;
}

x-click.pad {
  margin:1px;
  padding:0px 6px;
}

x-inp>input{
  vertical-align: middle;
}
